* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    /* display flex helps here to locate all items in the row of nav bar  if  it is contained in 
    the same div*/
    display: flex;
    /* to align all items in the center verically */
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 110px;
    cursor: pointer;
}

.logo {
    height: 50px;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;
}

/*border class is created to show white border on the box while hovering  */
.border {
    border: 1.3px solid transparent;
}

.border:hover {
    border: 1.3px solid white;
}

/* box 2 */
.address-1 {
    color: #CCCCCC;
    /* rem is used instead of pixel to website more responsive */
    font-size: 0.83rem;
    margin-left: 15px;
    cursor: pointer;
}

.address-2 {
    font-size: 1rem;
    margin-left: 3px;
    cursor: pointer;
}

.address-icon {
    /* flex helps to put data in same line having common div */
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Box 3 */
.nav-search {
    display: flex;
    /* space-evenly distributes the space between items evenly. */
    justify-content: space-evenly;
    width: 625px;
    height: 40px;
    background-color: aqua;
    border-radius: 4.5px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4.5px;
    border-bottom-left-radius: 4.5px;
    border: none;
    cursor: pointer;
}

.search-input {
    /* width: 100% means occupy remaining area */
    width: 100%;
    /* to increase the default font-size */
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    /* vertical centering the icon */
    justify-content: center;
    /* horiOntally centering the icon */
    align-items: center;
    font-size: 1.2 rem;
    background-color: hsl(46, 89%, 58%);
    border-top-right-radius: 4.5px;
    border-bottom-right-radius: 4.5px;
    color: #0f1111;
    cursor: pointer;
}

/* language */
.language {
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    position: static;
    float: none;
    box-align: center;
    box-sizing: border-box;
    text-size-adjust: 100%;
    cursor: pointer;
    background-color: #0f1111;
    color: white;
   border-color: #0f1111;
}

/* Box 4 */
span {
    font-size: 0.7rem;
    cursor:pointer;
}

.nav-second {
    font-size: 0.83rem;
    font-weight: 700;
    cursor: pointer;
}

/*Box 5  */
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: .83 rem;
    font-weight: 700;
    cursor: pointer;
}

.nav-button{
    transform: scale(.9);
    box-align: center;
    display:flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---Panel----- */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-opt p{
    /* to make all the paragraph on the single line of .panel-opt,display:inline is used */
    display:inline;
    margin: 14px;
}
.panel-opt{
    width: 70%;
    
}
.panel-opt{
    font-size: 0.84rem;
}
.panel-deals{
    font-size: .9rem;
    font-weight: 700;
}
/* ------End of panel section--------- */

/* hero-section */
.hero-section{
    height: 400px;
    background-image:url("hero_image\ \(1\).jpg");
    background-size: cover;
    display: flex;
   justify-content: center;
   align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height:40px ;
    width: 90%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}
/* End of hero-section */
.shop-section{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#e2e7e6 ;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-content{
    margin:0px 1rem 0px 1rem;
}
.box-content p{
    color: #007185;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin:1rem 0 1rem 0;

}

